
    /* Estilos generales */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f1f1f1;
        font-family: Arial, sans-serif;
        margin: 0;
    }

    /* Estilos del contenedor de la lista */
    .todo-list {
        max-width: 400px;
        width: 100%;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    /* Estilos de la lista de tareas */
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    /* Estilos de cada elemento de la lista */
    ul li {
        position: relative;
        padding: 12px 8px 12px 40px;
        background-color: #ffffff;
        font-size: 18px;
        transition: 0.2s;
        border-bottom: 1px solid #e0e0e0;
        cursor: pointer;
    }

    /* Estilos de los elementos impares de la lista */
    ul li:nth-child(odd) {
        background-color: #f9f9f9;
    }

    /* Estilos al pasar el cursor por encima de un elemento de la lista */
    ul li:hover {
        background-color: #e0e0e0;
    }

    /* Estilos para los elementos marcados como completados */
    ul li.checked {
        background-color: #e0e0e0;
        color: #888888;
        text-decoration: line-through;
    }

    /* Estilos para el ícono de verificación en los elementos marcados */
    ul li.checked::before {
        content: "";
        position: absolute;
        border-color: #888888;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
    }

    /* Estilos para los botones de eliminar y marcar como completado */
    .del,
    .check {
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 16px;
        color: #888888;
        transition: 0.2s;
        cursor: pointer;
    }

    /* Estilos al pasar el cursor por encima de los botones de eliminar y marcar como completado */
    .del:hover,
    .check:hover {
        color: #e0e0e0;
    }

    /* Estilos para la cabecera de la lista */
    .header {
        background-color: #134c57;
        padding: 30px 40px;
        color: #ffffff;
        text-align: center;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    /* Estilos para el campo de entrada de nuevas tareas */
    input {
        margin: 0;
        border: none;
        border-radius: 4px;
        width: 75%;
        padding: 10px;
        font-size: 16px;
        outline: none;
    }

    /* Estilos para el botón "Add Todo" */
    .agregar {
        padding: 10px;
        width: 25%;
        background-color: #134c57;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border: none;
        border-radius: 4px;
    }

    /* Estilos al pasar el cursor por encima del botón "Add Todo" */
    .agregar:hover {
        background-color: #0f3c42;
    }

    /* Estilos para la sección de conteos */
    .conteos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #134c57;
        padding: 5px 10px;
        margin: 10px 0;
        color: #ffffff;
        text-align: center;
    }

    /* Estilos para la sección de botones */
    .buttons {
        background-color: #134c57;
        padding: 30px 40px;
        color: #ffffff;
        text-align: center;
    }

    /* Estilos para el botón "Complete All" */
    .completar {
        padding: 10px 50px;
        width: 100%;
        margin: 10px;
        background-color: #134c57;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border: none;
        border-radius: 4px;
    }

    /* Estilos al pasar el cursor por encima del botón "Complete All" */
    .completar:hover {
        background-color: #0f3c42;
    }
